body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(190, 6, 6);
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #f8f9fa;
    color: rgb(190, 6, 6);
    text-align: center;
    padding: 10px 0;
}
.link {
    color: rgb(190, 6, 6);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
